.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 45px;
  padding: 0 16px;
}

.title {
  line-height: 1rem;
  font-size: 0.8rem;
  font-weight: 500;
  color: #a0aabf;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding-left: 16px;
  padding-right: 16px;
}
