.toolbar {
  position: absolute;
  left: 50%;
  bottom: 30px;
  transform: translateX(-50%);
  border-radius: 8px;
  background: #434343;
  transition: bottom 0.3s ease-out;
}

.toolbarContent {
  padding: 10px;
  position: relative;
}

.toolbarHideButton {
  position: absolute;
  right: 20px;
  top: 0;
  transform: translateY(-100%);
  background: #434343;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: white;
  padding: 4px 10px 2px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.toolbar_hidden {
  bottom: -51px;
}

.divider {
  width: 2px;
  height: 32px;
  background: #fff;
  border-radius: 10px;
}
